*{}

.body-left.menu-studentRegister li {
    height: 50px;
    line-height: 28px;
}

.menu-studentRegister li a {
    font-size: 15px;
}

.body-left.menu-studentRegister .fa-home {
    font-size: 25px;
    margin-left: 9px;
    margin-right: 11px;
}

.body-left.menu-studentRegister .fa-pencil-square-o {
    font-size: 22px;
    margin-left: 11px;
    margin-right: 11px;
}

.body-left.menu-studentRegister .fa-bar-chart {
    font-size: 19px;
    margin-left: 10px;
}

.body-left.menu-studentRegister .glyphicon-cog {
    margin-left: 9px;
    font-size: 22px;
    margin-right: 14px;
}

